#page-header{
	width: 100%;
	height: 35px;
	padding-bottom: 20px;
}

body{
	background: #ECEEF1;
	height: 100%;
	font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#hContainer{
	line-height: 1.5;
	font-size: 12px;
	font-weight: 400;
	float: right;
	margin-right;
	padding: 5px 30px;
}

.lock-logo{
	display: inline-block;
	width: 12px;
	color:white;
	margin-bottom: -1px;
	padding-right: 4px;
}

#signInBtn{
	margin-left: 5px;
	background: #0077C5;
	color:white;
	border-radius: 4px;
	border: 1px solid #4c4c4c;
	display: inline-block;
	height: 34px;
	padding: 0 20px;
	position: relative;
	bottom: 10px;
	width: 100px;
}

#logo-container{
	width: 100%;
	text-align:center;
}

#logo{
	width: 200px;
	margin-right: -60px;
	margin-bottom: -30px;
}

.lg{
	display: inline;
	margin: 0;
}

#mint-logo{
	width: 100px;
	margin-bottom: -8px;
	margin-right: -25px;
	margin-left: 60px;
}

#turbo-logo{
	width: 110px;
	margin-bottom: 15px;
	margin-left: -20px;
}

#quickbooks-logo{
	width: 140px;
}

#form-container{
	padding:30px;
	background: white;
	border: 1px solid #c7c7c7;
	width: 318px;
	overflow: visible;
	margin-top: -5px;
}

#form-header{
	text-align: center;
}

#sign-up-header{
	text-align: center
	line-height: 1.1;
	display: block;
	font-size: 24px;
	font-weight: 400;
}

#sign-up-subheader{
	padding-top: 20px;
	display: block;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	padding-bottom: 20px;
}

a{
	color: #0077C5;
	text-decoration: none;
}

#warning-label{
	display: block;
	line-height: 1.5;
	text-align:left;
	color: #444;
	font-size: 10px;
}

.form_label{	
	display: block;
	font-weight: 400;
	line-height: 25px;
	font-size: 14px;
	color: #404040;
	padding-bottom: 6px;
}

.fields{
	height: 28px;
	width: 100%;
	line-height: 1.3em;
	border-radius: 3px;
	border: 1px solid #C1C5C8;
}

fieldset{
	border: none;
}

#unlock-logo{
	float: right;
	position: relative;
	top: -27px;
	right: 3px;
	width: 20px;
}

.btn{
	display: block;
	margin-top: 10px;
	background: #0077C5;
	color:white;
	border-radius: 4px;
	border: 1px solid #4c4c4c;
	height: 34px;
	padding: 0 20px;
	width: 100%;
}

#form-footer{
	font-weight: 400;
	line-height: 1.5;
	font-size: 12px;
	margin-top: 30px;
	display: block;
	text-align: center;
	color: #bbb;
	font-style: italic;
}

#footfooter{
	margin: 38px -30px -30px;
	padding:16px;
	background: #ECEEF1;
	text-align: center;
	display: block;
}
#footerfooter-label{
	color: #8d9096;
	font-size: 10px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline-color: 0;
}

.container{
	margin: 0 auto;
	width: 318px;
	display: block;
}

#page-footer{
	font-weight: 400;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;
}

#footer-list{
	list-style: none;
	margin: 0;
}

li{
	padding: 3px;
	display: inline;
}

li a{
	color: #505050;
}